.page {
  width: 100%;
  height: 100vh;
  min-height: 770px;
  background: #000 url('../Modal/img/Rectangle\ 1.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* ----------------------
Modal */

.modal {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal__content {
  width: 410px;
  height: 338px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.btn-open {
  margin-left: 150px;
  margin-top: 150px;
  padding: 10px;
}

/* ----------------------
Form inside */

.title-container {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424242;
}
.text__title {
  margin-top: 53px;
  margin-bottom: 16px;
}
.form {
  margin-left: 33px;
  margin-right: 32px;
}

.label {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
}
.login-input,
.password-input {
  width: 345px;
  height: 34px;
  border: 1px solid #c9cacc;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-login-container {
  margin-bottom: 12px;
}

.login-input:focus,
.password-input:focus {
  outline-color: #8ecee2;
}
.btn-submit-form {
  width: 116px;
  height: 34px;
  margin-top: 15px;
  margin-left: 229px;
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.btn-submit-form:hover {
  background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
  box-shadow: 0px 0px 4px #99a0a3;
}

.btn-submit-form:focus {
  outline: none;
  background: linear-gradient(104.34deg, #5362be -15.34%, #4ad5ff 145.95%);
}

.small-error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: rgba(235, 23, 23, 1);
}

.small-error-none{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color:#ffffff;
}
